@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* globals.css */
body {
  @apply bg-white text-gray-800; /* Default light mode */
  transition: background-color 10s, color 0.5s;
  font-family: "Playfair Display",'Roboto', sans-serif; /* Use the Google Font here */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
/* transition={{ duration: 0.8, ease: "easeInOut", delay: index * 0.2 }} */

body.dark {
  @apply bg-gray-800 text-white; /* Dark mode styles */
}

a {
  @apply text-blue-600; /* Default link color */
}

a:hover {
  @apply text-blue-800; /* Hover color in light mode */
}

body.dark a {
  @apply text-blue-400; /* Link color in dark mode */
}

body.dark a:hover {
  @apply text-blue-300; /* Hover color in dark mode */
}
